{# templates/admin/rapport.html.twig #}
{% extends 'admin/admin.base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block content %}
    <div style="padding: 2rem 1rem;">
        <div style="width: 90vw; height: 90vh; margin-left: 0;">
            <iframe 
                src="https://lookerstudio.google.com/embed/reporting/7e28c4ce-f848-4402-b3fb-b082ba635485/page/p_afjh0ta4pd"
                frameborder="0"
                style="width: 100%; height: 100%; border: none;"
                allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-downloads">
            </iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.gptbots.ai/widget/wexydl6muj0jgmn7y7oulfw/chat.js"></script>
{% endblock %}
