{# templates/admin/rapport.html.twig #}
{% extends 'admin/admin.base.html.twig' %}  {# Or your admin base template #}

{% block title %}Rapport{% endblock %}

{% block content %}
    <div class="flex justify-center items-center p-8">
        <div class="w-full max-w-6xl aspect-video">
            <iframe 
                src="https://lookerstudio.google.com/embed/reporting/7e28c4ce-f848-4402-b3fb-b082ba635485/page/p_afjh0ta4pd"
                frameborder="0" 
                style="width: 116%; height: 115%; border: none;"
                allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-downloads">
            </iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.gptbots.ai/widget/wexydl6muj0jgmn7y7oulfw/chat.js"></script>
{% endblock %}